Away From Home
[{
		"id": "936ce129.89518",
		"type": "tab",
		"label": "Away from Home",
		"disabled": false,
		"info": ""
	}, {
		"id": "3dffd302.3603fc",
		"type": "server-state-changed",
		"z": "936ce129.89518",
		"name": "All Away",
		"server": "224038d2.568738",
		"entityidfilter": "input_boolean.home",
		"entityidfiltertype": "substring",
		"outputinitially": true,
		"state_type": "str",
		"haltifstate": "on",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"x": 80,
		"y": 380,
		"wires": [["be378841.e62b18", "b16bf88d.150a48", "9acd4b01.139398"]]
	}, {
		"id": "be378841.e62b18",
		"type": "api-call-service",
		"z": "936ce129.89518",
		"name": "Turn off Inside Lights",
		"server": "224038d2.568738",
		"service_domain": "script",
		"service": "turn_on",
		"data": "{\"entity_id\":\"script.1545497469252\"}",
		"render_data": false,
		"mergecontext": "",
		"x": 360,
		"y": 60,
		"wires": [[]]
	}, {
		"id": "e3f30bb0.a86aa8",
		"type": "api-call-service",
		"z": "936ce129.89518",
		"name": "Set Away Heat (63)",
		"server": "224038d2.568738",
		"service_domain": "climate",
		"service": "set_temperature",
		"data": "{\"entity_id\":\"climate.hallway\",\"temperature\":\"63\"}",
		"render_data": false,
		"mergecontext": "",
		"x": 570,
		"y": 180,
		"wires": [[]]
	}, {
		"id": "b16bf88d.150a48",
		"type": "api-current-state",
		"z": "936ce129.89518",
		"name": "Heating",
		"server": "224038d2.568738",
		"halt_if": "heat",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"override_topic": true,
		"override_payload": true,
		"override_data": true,
		"entity_id": "climate.hallway",
		"state_type": "str",
		"x": 320,
		"y": 180,
		"wires": [["e3f30bb0.a86aa8"]]
	}, {
		"id": "9acd4b01.139398",
		"type": "api-current-state",
		"z": "936ce129.89518",
		"name": "Cooling",
		"server": "224038d2.568738",
		"halt_if": "cool",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"override_topic": true,
		"override_payload": true,
		"override_data": true,
		"entity_id": "climate.hallway",
		"state_type": "str",
		"x": 320,
		"y": 300,
		"wires": [["b8123196.bd05a"]]
	}, {
		"id": "b8123196.bd05a",
		"type": "api-call-service",
		"z": "936ce129.89518",
		"name": "Set Away Cool (78)",
		"server": "224038d2.568738",
		"service_domain": "climate",
		"service": "set_temperature",
		"data": "{\"entity_id\":\"climate.hallway\",\"temperature\":\"78\"}",
		"render_data": false,
		"mergecontext": "",
		"x": 570,
		"y": 300,
		"wires": [[]]
	}, {
		"id": "c63be07b.9a143",
		"type": "poll-state",
		"z": "936ce129.89518",
		"name": "All Away Time",
		"server": "224038d2.568738",
		"updateinterval": "60",
		"outputinitially": true,
		"outputonchanged": false,
		"entity_id": "input_boolean.home",
		"state_type": "str",
		"halt_if": "on",
		"halt_if_type": "str",
		"halt_if_compare": "is",
		"x": 90,
		"y": 660,
		"wires": [["cd6d0f0d.21f2e"]]
	}, {
		"id": "cd6d0f0d.21f2e",
		"type": "function",
		"z": "936ce129.89518",
		"name": "If Away > 20 Hours",
		"func": "// If away less than 20 hrs, no change\nif (msg.data.timeSinceChangedMs < 72000000 ) {\n    flow.set('awayOver20',0);  // Reset if needed\n    return null\n}\n// Check if already away more than 20 hours \nif (flow.get('awayOver20') == 1 ) {\n    return null\n}\n// Set flow variable to not repeat\nflow.set('awayOver20',1);\nreturn msg;",
		"outputs": 1,
		"noerr": 0,
		"x": 310,
		"y": 540,
		"wires": [["110c606.4a278a", "60ed8b48.fce7f4"]]
	}, {
		"id": "110c606.4a278a",
		"type": "api-current-state",
		"z": "936ce129.89518",
		"name": "Heating",
		"server": "224038d2.568738",
		"halt_if": "heat",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"override_topic": true,
		"override_payload": true,
		"override_data": true,
		"entity_id": "climate.hallway",
		"state_type": "str",
		"x": 520,
		"y": 480,
		"wires": [["6301ec0c.2c07e4"]]
	}, {
		"id": "60ed8b48.fce7f4",
		"type": "api-current-state",
		"z": "936ce129.89518",
		"name": "Cooling",
		"server": "224038d2.568738",
		"halt_if": "cool",
		"halt_if_type": "str",
		"halt_if_compare": "is_not",
		"override_topic": true,
		"override_payload": true,
		"override_data": true,
		"entity_id": "climate.hallway",
		"state_type": "str",
		"x": 520,
		"y": 580,
		"wires": [["a48173b2.6b357"]]
	}, {
		"id": "6301ec0c.2c07e4",
		"type": "api-call-service",
		"z": "936ce129.89518",
		"name": "Set Away Heat (50)",
		"server": "224038d2.568738",
		"service_domain": "climate",
		"service": "set_temperature",
		"data": "{\"entity_id\":\"climate.hallway\",\"temperature\":\"50\"}",
		"render_data": false,
		"mergecontext": "",
		"x": 750,
		"y": 480,
		"wires": [[]]
	}, {
		"id": "a48173b2.6b357",
		"type": "api-call-service",
		"z": "936ce129.89518",
		"name": "Set Away Cool (90)",
		"server": "224038d2.568738",
		"service_domain": "climate",
		"service": "set_temperature",
		"data": "{\"entity_id\":\"climate.hallway\",\"temperature\":\"90\"}",
		"render_data": false,
		"mergecontext": "",
		"x": 750,
		"y": 580,
		"wires": [[]]
	}, {
		"id": "224038d2.568738",
		"type": "server",
		"z": "",
		"name": "Home Assistant"
	}
]
